<div class="dashboard-wrap">
    <button nz-button (click)="locationToUser()">跳转到用户管理</button>
    <div nz-row>
        <ws-discounting [data]="data2" [title]="'$  Profit'"></ws-discounting>
        <ws-histogram [data]="data" [title]="'$  Profit'"></ws-histogram>
    </div>
        <!--<nz-card nz-col [nzSpan]="8" nzTitle="$ Profit" >-->
            <!--<div id="chart"></div>-->
        <!--</nz-card>-->

        <!--<nz-card nz-col [nzSpan]="8" nzTitle="$ Profit" >-->
            <!--<div id="111"></div>-->
        <!--</nz-card>-->


</div>
